@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
.userBar {
  background-color: #141414;
  height: 36px; }
  .userBar a {
    color: #A8A8A8;
    font-weight: bold;
    font-size: 12px; }

.logoBlock {
  background-color: #2B2B2B;
  height: 110px;
  position: relative;
  z-index: 0; }
  .logoBlock img {
    position: relative;
    z-index: 5; }

.navBar {
  background-color: #2B2B2B;
  height: 35px; }
  .navBar a {
    color: #BCBCBC;
    font-weight: 700;
    font-size: 14px;
    text-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 0px; }
    .navBar a i {
      position: relative;
      top: -5px; }
  .navBar a:hover {
    color: #fff; }
  .navBar li {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    z-index: 10; }
  .navBar li:hover {
    background-color: #D64541; }
  .navBar .active {
    background-color: #CA302B; }
    .navBar .active a {
      background-color: transparent; }

.subNav {
  background-color: #CA302B;
  height: 37px;
  margin-bottom: 20px; }
  .subNav a {
    color: #fff;
    font-size: 11px; }

.sidebar {
  background-color: #fff;
  padding: 0px;
  border-radius: 6px;
  margin-bottom: 20px; }
  .sidebar .header {
    padding: 10px;
    color: #777777;
    background-color: #F1F1EC;
    border: 1px solid #d5d5d5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .sidebar .header h3 {
      font-size: 14px; }
  .sidebar .body {
    padding: 10px;
    font-size: 11px; }

footer {
  background-color: #1B1B1B;
  color: #fff; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff; }
  footer .upper {
    background-color: #202020;
    border-top: solid 5px #6CB2E4;
    border-bottom: solid 1px #2B2B2B;
    font-size: 13px; }
    footer .upper a {
      vertical-align: middle;
      line-height: 25px;
      color: #a5cae4;
      padding-left: 5px;
      padding-right: 5px;
      height: 50px; }
      footer .upper a:hover {
        text-decoration: underline;
        color: #2096e1; }
  footer .copyright {
    background-color: #1B1B1B;
    padding: 15px 5px;
    color: #fff;
    font-size: 11px; }
    footer .copyright a {
      color: #1061B3; }
      footer .copyright a:hover {
        text-decoration: underline; }
    footer .copyright i {
      font-size: 24px;
      border-radius: 4px;
      padding: 10px;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
      color: #fff; }
      footer .copyright i.fa-twitter {
        background-color: #44CCF6; }
      footer .copyright i.fa-envelope {
        background-color: #3A845A; }

body, p {
  font-family: 'Open Sans', sans-serif; }

body {
  background-image: url("..//img/bg.jpg");
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px; }

a {
  color: #000; }

a:hover {
  color: #000; }

::selection {
  color: #fff;
  background-color: #000; }

.pageBody {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px; }
